<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">Add, Edit &amp; Remove</h4>
          </div>
          <!-- end card header -->
  
          <div class="card-body">
            <div id="customerList">
              <div class="row g-4 mb-3">
                <div class="col-sm-auto">
                  <div>
                    <button type="button" (click)="getEndId()" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn"
                      data-bs-target="#showModal">
                      <i class="ri-add-line align-bottom me-1"></i> Ajouter
                    </button>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="d-flex justify-content-sm-end">
                    <div class="search-box ms-2">
                      <input type="text" class="form-control search"   [(ngModel)]="searcheType"  (input)="setTypeProduct()"  placeholder="Search..." />
                      <i class="ri-search-line search-icon"></i>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="table-responsive table-card mt-3 mb-1">
                <table class="table align-middle table-nowrap" id="customerTable">
                  <thead class="table-light">
                    <tr>
                      <th class="sort" data-sort="customer_name">Code Type des Produits</th>
                      <th class="sort" data-sort="email">Type des Produits</th>
                      <th class="sort" data-sort="action">Action</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of fileterType"  class="list form-check-all">
                    <tr >
                      <td class="customer_name">T{{item.id}}</td>
                      <td class="customer_name">{{item.descripitonType}}</td>
                      <td>
                        <div class="d-flex gap-2">
                          <div class="edit">
                            <button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal"
                              data-bs-target="#showModalUpdate">
                              Edit
                            </button>
                          </div>
                          <div class="remove">
                            <!-- <a routerLink={{p.id}}> -->
                            <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" 
                              data-bs-target="#deleteRecordModal">
                              Supprimer
                            </button>
                            <!-- Modal  popup supression-->
                            <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                      id="btn-close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="mt-2 text-center">
                                      <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>Are you Sure ?</h4>
                                        <p class="text-muted mx-4 mb-0">
                                          Are you Sure You want to Remove this {{item.id}}
                                          Record ?
                                        </p>
                                      </div>
                                    </div>
                                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                      <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">
                                        Close
                                      </button>
                                      <button type="button" (click)="delateType(item.id)" class="btn w-sm btn-danger"
                                         data-bs-dismiss="modal">
                                        Yes, Delete It!
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--end modal -->
                            <!-- modal moficication -->
                            <div class="modal fade" id="showModalUpdate" tabindex="-1"
                              aria-labelledby="varyingcontentModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="varyingcontentModalLabel">
                                      Ajouter/Modifier/Supprimer
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form  #addForm="ngForm" >
                                      <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Code Type des Produits</label>
                                        <input type="text" class="form-control" id="recipient-name"
                                           name="id" placeholder=""  readonly="" />
                                      </div>
                                      <div class="mb-3">
                                        <label for="message-text" class="col-form-label">Type des Produits</label>
                                        <textarea class="form-control" 
                                          name="description" id="message-text"></textarea>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                          Annuler
                                        </button>
                                        <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary"
                                          data-bs-dismiss="modal">
                                          Modifier
                                        </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- end modal -->
                            <!-- </a> -->
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="listeTypeProduct.length== 0" class="noresult">
                  <div class="text-center">
                    <h5 class="mt-2">Sorry! No Result Found</h5>
                    <p class="text-muted mb-0">
                      We've searched more than 150+ Orders We did not find any
                      orders for you search.
                    </p>
                  </div>
                </div>
              </div>
  
              <div *ngIf="listeTypeProduct.length != 0" class="d-flex justify-content-end">
                <div  class="pagination-wrap hstack gap-2" style="display: flex">
                  
                  <a class="page-item pagination-prev disabled" href="#">
                    Previous
                  </a>
                  <ul   class="pagination listjs-pagination mb-0">
                    <li class="active">
                      <!-- <button (click)="setPage(item)" class="page" href="#" data-i="1" data-page="8">{{item}}</button> -->
                      <button  class="page" href="#" data-i="1" data-page="8">1</button>
                    </li>
                  </ul>
                  <a class="page-item pagination-next" href="#"> Next </a>
                </div>
              </div>
            </div>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  
    <!-- Varying modal content -->
    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="varyingcontentModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="varyingcontentModalLabel">
              Ajouter/Modifier/Supprimer
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form  #addForm="ngForm" (ngSubmit)="saveType()">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Code Type des Produits</label>
                <input type="text" ngModel="{{newType.id}}" class="form-control" id="recipient-name"name="id"
                  placeholder="P001" readonly="" />
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Type des Produits</label>
                <textarea [(ngModel)]="newType.descripitonType" class="form-control"   name="descripitonType"
                  id="message-text"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                  Annuler
                </button>
                <button type="submit"  [disabled]="addForm.invalid" class="btn btn-primary"
                  data-bs-dismiss="modal">
                  Enregister
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>