<div id="scrollbar" data-simplebar="init" class="h-100">
    <div class="simplebar-wrapper" style="margin: 0px;">
        <div class="simplebar-height-auto-observer-wrapper">
            <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                <div class="simplebar-content-wrapper" tabindex="0" role="region"
                    aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                    <div class="simplebar-content" style="padding: 0px;">
                        <div class="container-fluid">

                            <div id="two-column-menu">
                            </div>
                            <ul class="navbar-nav" id="navbar-nav" data-simplebar="init">
                                <div class="simplebar-wrapper" style="margin: 0px;">
                                    <div class="simplebar-height-auto-observer-wrapper">
                                        <div class="simplebar-height-auto-observer"></div>
                                    </div>
                                    <div class="simplebar-mask">
                                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                            <div class="simplebar-content-wrapper" tabindex="0"
                                                role="region" aria-label="scrollable content"
                                                style="height: auto; overflow: hidden;">
                                                <div class="simplebar-content" style="padding: 0px;">
                                                    <li class="nav-item">
                                                        <a class="nav-link menu-link collapsed"
                                                            href="#sidebarDashboards">
                                                            <i class="ri-dashboard-2-line"></i>
                                                            <span>Dashboards</span>
                                                        </a>

                                                    </li> <!-- end Dashboard Menu -->
                                                    <li class="nav-item">
                                                        <a class="nav-link menu-link collapsed"
                                                            href="#sidebarApps" role="button">
                                                            <i class="ri-apps-2-line"></i> <span
                                                                data-key="t-apps">Apps</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link menu-link collapsed"
                                                            href="#sidebarLayouts" role="button">
                                                            <i class="ri-layout-3-line"></i> <span
                                                                data-key="t-layouts">Layouts</span>
                                                        </a>
                                                    </li> <!-- end Dashboard Menu -->
                                                    <li class="nav-item">
                                                        <a class="nav-link menu-link collapsed"
                                                            href="#sidebarAuth" role="button">
                                                            <i class="ri-account-circle-line"></i> <span
                                                                data-key="t-authentication">Authentication</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link menu-link collapsed"
                                                            href="#sidebarPages" role="button">
                                                            <i class="ri-pages-line"></i> <span
                                                                data-key="t-pages">Pages</span>
                                                        </a>
                                                    </li>

                                                    <li class="nav-item">
                                                        <a class="nav-link menu-link"
                                                            [routerLink]="['/post']" routerLinkActive="router-link-active">
                                                            <i class="ri-rocket-line"></i> <span
                                                                data-key="t-landing">Poste de Travaille</span>
                                                        </a>
                                                    </li>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="simplebar-placeholder" style="width: auto; height: 942px;">
                                    </div>
                                </div>
                                <div class="simplebar-track simplebar-horizontal"
                                    style="visibility: hidden;">
                                    <div class="simplebar-scrollbar" style="width: 0px; display: none;">
                                    </div>
                                </div>
                                <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar" style="height: 0px; display: none;">
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <!-- Sidebar -->
                    </div>
                </div>
            </div>
        </div>
        <div class="simplebar-placeholder" style="width: auto; height: 942px;"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
        <div class="simplebar-scrollbar"
            style="height: 53px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
    </div>
</div>